#pane{
    -fx-background-image: url("Graphic-assets/Background.png");
}
#map{
    -fx-background-size: cover;
    -fx-background-position: center;
}
#selectFiremode{
    -fx-background-color: #261212;
    -fx-text-fill: white;
    -fx-border-color: white;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}
#moveSub{
    -fx-background-color: #261212;
    -fx-text-fill: white;
    -fx-border-color: white;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}
.button{
    -fx-background-size: cover;
    -fx-background-position: center;
}
.button:hover{
    -fx-cursor: hand;
    -fx-effect: innershadow(three-pass-box, white, 7, 0.3, 0, 0);
}
.triangle{
    -fx-effect: dropshadow(three-pass-box, black, 7, 0.3, 0, 0);
    -fx-cursor: hand;
}
.ammo{
    -fx-effect: dropshadow(three-pass-box, black, 3, 0.8, 0, 0);
}
.hand:hover{
    -fx-cursor: hand;
}
#redWeapons{
    -fx-padding: 2;
    -fx-background-radius: 10;
    -fx-border-color: black;
    -fx-border-radius: 10;
    -fx-background-color: rgba(255,0,0,0.1);
}
#yellowWeapons{
    -fx-padding: 2;
    -fx-background-radius: 10;
    -fx-border-color: black;
    -fx-border-radius: 10;
    -fx-background-color: rgba(251,248,175,0.2);
}
#blueWeapons{
    -fx-padding: 2;
    -fx-background-radius: 10;
    -fx-border-color: black;
    -fx-border-radius: 10;
    -fx-background-color: rgba(66, 170, 250, 0.1);
}
#ownPlayer{
    -fx-background-color: rgba(0, 0, 0, 0.3);
}
#ownCard{
    -fx-background-color: rgba(0, 0, 0, 0.3);
}
#firemodeSelection{
    -fx-background-color: rgba(0, 0, 0, 0.3);
}
.blackTransparent{
    -fx-background-color: rgba(0, 0, 0, 0.5);

}
.setFiremode{
    -fx-background-size: cover;
    -fx-background-position: center;
}
.setFiremode:hover{
    -fx-cursor: hand;
}
#scrollPane{
    -fx-background-color: transparent;

}
#scrollPane >.viewport{
    -fx-background-color: rgba(0, 0, 0, 0.2);
}
#scrollPane .scroll-bar:vertical{
    -fx-background-color:inherit;

}
#scrollPane .scroll-bar:vertical .track{
    -fx-background-color:transparent;
    -fx-border-color:transparent;
    -fx-background-radius: 0em;

}

#scrollPane  .scroll-bar .increment-arrow,
#scrollPane  .scroll-bar .decrement-arrow {
    -fx-shape: " ";
    -fx-padding:0;
}

#txtMsg{
    -fx-background-color: rgba(0, 0, 0, 0.3);
    -fx-text-fill: white;
}
.YELLOW{
    -fx-text-fill: #ffe11d;
}
.GREEN{
    -fx-text-fill: #00e600;
}
.BLUE{
    -fx-text-fill: #48b7ba;
}
.PURPLE{
    -fx-text-fill: #bb00bb;
}
.GRAY{
    -fx-text-fill: #9c9c9c;
}
.WHITE{
    -fx-text-fill: white;
}
.RED{
    -fx-text-fill: #ff1d5c;
}

#skullBox{
    -fx-border-color: red;
}
