#initPane{
    -fx-background-image: url("TitleScreen.png");
    -fx-background-size: cover;
}
#selectionPane{
    -fx-background-image: url("Background.png");
    -fx-background-size: cover;
}
#title{
    -fx-text-fill: white;
}
.button{
    -fx-background-color: #261212;
    -fx-text-fill: white;
    -fx-border-color: white;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-effect: dropshadow(three-pass-box, black, 20, 0, 0, 0);
}
.button:hover{
    -fx-background-color: #322828;
    -fx-cursor: hand;
}
.text-field{
    -fx-background-color: #261212;
    -fx-text-fill: white;
    -fx-border-color: white;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-effect: dropshadow(three-pass-box, black, 20, 0, 0, 0);
}
#close{
    -fx-background-color: transparent;
    -fx-border-width: 0;
}
#close:hover{
    -fx-highlight-text-fill: black;
}
#label{
    -fx-background-color: #261212;
    -fx-text-fill: white;
    -fx-border-color: white;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-effect: dropshadow(three-pass-box, black, 20, 0, 0, 0);
}
.label{
    -fx-background-color: transparent;
    -fx-text-fill: #b30000;
}
.outline.label .text{
    -fx-stroke: black;
    -fx-stroke-width: 1px;
}
.stack{
    -fx-padding: 4;
    -fx-background-radius: 4;
    -fx-background-color: #A9A8AF;
}
.map:hover{
    -fx-cursor: hand;
}
.YELLOW{
    -fx-text-fill: #ffe11d;
}
.GREEN{
    -fx-text-fill: #00e600;
}
.BLUE{
    -fx-text-fill: #48b7ba;
}
.PURPLE{
    -fx-text-fill: #bb00bb;
}
.GRAY{
    -fx-text-fill: #9c9c9c;
}
.WHITE{
    -fx-text-fill: white;
}
#playersList{
    -fx-text-fill: white;
}
#nicknamesBox{
    -fx-border-color: white;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-effect: dropshadow(three-pass-box, black, 20, 0, 0, 0);
}
#skullbar{
    -fx-background-image: url("SKULLBAR.png");
    -fx-background-size: cover;
}